head
  title thmly

body
  +navbar
  +vienna
  +footer

template(name="vienna")
  .vienna
    +mast
    .container
      +index

template(name="index")
  .index
    each posts
      +post

template(name="post")
  .post
    h3 #{title}
    h5.date #{location}

template(name="footer")
  footer.footer.text-muted
    .container
      p.pull-right
        a(href='#') Back to top
      p Album example is © Bootstrap, but please download and customize it for yourself!
      p
        | New to Bootstrap?
        a(href='../../') Visit the homepage
        |  or read our
        a(href='../../getting-started/') getting started guide
        | .


template(name="mast")
    section.jumbotron.text-center
      .container
        img.avatar.img-circle(href="https://en.gravatar.com/userimage/27826342/d5659b2f24975ad394a0411b8ef79ed9.jpg")
        h2.jumbotron-heading John Legend
        p.lead.text-muted
          | Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.
        p
          a.btn.btn-primary(href='#') Main call to action
          a.btn.btn-secondary(href='#') Secondary action
